<section class="cajaPrincipal">
    <section class="cajaIzquierda">
        <section class="box"> 
            <div class="divSuperior">
                <img src="../../assets/me.jpeg" width="150" alt="" class="box-img">
                <h1>Enrique Martinez P.</h1>
                <h2>{{ subtitulo }}</h2>    
            </div>
            <div class="divInferior">
                <p >👨‍💻Hola soy Enrique Martinez Mtw. en Tecnologías Web egresado de la universidad de la salle Leon e Ing. en Sistemas Computacionales egresado del Instituto Tecnológico de Mexico campus León.
                    <br/><br/>
                    💻Lenguajes y tecnologias  que Manejo:<br/>
                        -> Swift (IOS)<br/>
                        -> Java (Android)<br/>
                        -> C# (Servicios)<br/>
                        -> Angular (Front End)<br/>
                        -> PHP (Front End)<br/>
                        -> Bases de Datos (MySql, Oracle, SQLServer)<br/>
                        <br/>
                    📱 Desarrollo de apps móviles en Swift y Java para IOS y Andorid de manera nativa consumiendo servicios REST, arquitectura MVP, constraints, uso de hilos, cocoapods, cámara, GPS, galería de fotos, micrófono, notificaciones push.<br/>
                    <br/>
                    🌐 Desarrollo web con Angular usando typescript, CSS, consumiendo servicios REST e integración con las apis de Bancos.<br/>
                    <br/>
                    🕋 Desarrollo de servicios web ASP.NET REST y SOAP conectado con bases relaciónales.<br/>
                    <br/>
                    💾 Bases de datos Oracle, MySQL, SQL Server creando tablas, vistas, constraints, secuencias,  procedimientos almacenados.<br/>
                </p>
            </div>
        </section>
    </section>
    <section class="cajaDerecha">

    </section>


</section>